:root {
    --purple500: #281154;
    --purple300: #270082;
    --purple600: #1b0058;
}

* {
    box-sizing: border-box;
}


html,
body {
    padding: 0;
    margin: 0;
    font-family: Poppins;
    scroll-behavior: smooth;
}


.container {
    margin: 0 auto;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #270082;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    font-weight: 500;
    color: white;


}

.name {
    font-size: 30px;

}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 25px;

}

a {
    font-weight: 500;
    color: white;
    text-decoration: none;
}

nav ul li {
    border-bottom: 2px solid transparent;
    transition: 0.2s ease-in;
}

nav ul li:hover {
    border-bottom: 2px solid white;
    transition: 0.2s ease-in;
}

.home-image {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
}

.home-image-div {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(images/hero_image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.home-page-content {
    width: 1000px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.first-section h1 {
    font-size: 96px;
}

.first-section p {
    font-size: 25px;
    text-align: center;
}

.music-section {
    background-color: var(--purple500);
    margin-top: -20px;
    padding-top: 100px;
}

h2,
h3,
h4 {
    margin: 0;
}

.container-music {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: white;
}

button {
    padding: 10px 5px;
    width: 200px;
    border: none;
    color: white;
    font-weight: 500;
    padding: 20px 10px;
    font-size: 18px;
    transition: 0.2s;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    transform: scale(1.07);
}

.start-your-trail-butn {
    background-color: rgba(255, 0, 0, 0.842);

}

.ipad-iphone-img {
    position: relative;
    top: 400px;
    margin-top: -400px;
}

.purple-button {
    background-color: var(--purple300);
    color: white;
    font-weight: 500;

}

.music-2ndpart {
    margin-top: 450px;
}

.music-2ndpart .container-music {
    color: black;
}


.video-section {
    position: relative;
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.music-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.video-section .container-music {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    font-size: 20px;
    width: 1000px;
}